@model ChangeRoleViewModel

@{
    ViewData["Title"] = "Change User Role";
    ViewData["BreadCrum"] = "Change User Role";
}

<div class="card">
    <div class="card-header p-lg-5">
        <h1>Change User Role</h1>
    </div>
    <div class="card-body p-lg-17">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info" id="tempMessage">@TempData["Message"]</div>
        }

        <form asp-action="ChangeUserRole" method="post" id="kt_ecommerce_settings_general_form">
            <div class="form-group mb-4">
                <label class="required fs-6 fw-semibold mb-2">Current Roles</label>
                <ul class="list-unstyled">
                    @foreach (var role in Model.CurrentRoles)
                    {
                        <li>@role</li>
                    }
                </ul>
            </div>

            <div class="form-group mb-4">
                <label class="required fs-6 fw-semibold mb-2">Select Role</label>
                @foreach (var role in Model.AllRoles)
                {
                    <div class="d-flex fv-row mb-3">
                        <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input me-3" name="SelectedRole" type="radio" value="@role"
                            @(Model.CurrentRoles.Contains(role) ? "checked='checked'" : "") id="role_@role" />
                            <label class="form-check-label" for="role_@role">
                                <div class="fw-bold text-gray-800">@role</div>
                            </label>
                        </div>
                    </div>
                    <div class='separator separator-dashed my-5'></div>
                }
            </div>

            <input type="hidden" name="UserId" value="@Model.UserId" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary" data-kt-contacts-type="submit">
                    <span class="indicator-label">Update Roles</span>
                </button>
                <a asp-action="Index" class="btn btn-light me-3">Back to User List</a>
            </div>
        </form>
    </div>
</div>