@model TicketViewModel

@{
    ViewData["Title"] = "Ticket Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Ticket Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignee)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriorityValue)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusValue)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueTypeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueTypeValue)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskPickupTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskPickupTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskCompletedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskCompletedTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskClosedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskClosedTime)
        </dd>

        <dt class="col-sm-2">
            Attachments
        </dt>
        <dd class="col-sm-10">
            @if (Model.Attachments != null && Model.Attachments.Any())
            {
                <ul>
                    @foreach (var attachment in Model.Attachments)
                    {
                        <li>
                            <a href="@attachment.FilePath" target="_blank">
                                <img src="@attachment.FilePath" alt="Attachment" style="max-width: 150px; max-height: 150px;" />
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No attachments available.</p>
            }
        </dd>
    </dl>
</div>

<div>
    <!-- Pick Task -->
    <a class="btn btn-success" asp-action="PickTask" asp-route-id="@Model.Id">Pick Task</a> |

    <!-- Mark as Completed -->
    <a class="btn btn-warning" asp-action="CompleteTask" asp-route-id="@Model.Id">Mark as Completed</a> |

    <!-- Close Task -->
    <a class="btn btn-danger" asp-action="CloseTask" asp-route-id="@Model.Id">Close Task</a> |

    <!-- Back to List -->
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
